body {
    margin: 0;
}

#top-bar-div {
    height: 5%;
    background-color: #D8D9DC; // darker grey
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

#top-bar-div h1 {
    text-align: center;
    position: relative;
    top: -50px;
    padding-top: 4px;
}

#language-selector {
    position: relative;
    left: 200px;
    top: 4px;
    width: 330px;
    height: 30px;
    list-style-type: none;
    z-index: 1;
}

#feedback {
    font-size: 1.4em;
}

#language-selector li {
    cursor: pointer;
    width: 100px;
    height: 26px;
    margin: 4px;
    padding-top: 4px;
    text-align: center;
    font-size: 20px;
    float: left;
    background: #FFC76B; // orange
}

#language-selector .ui-selected {
    background: #69B6FD; // blue
}

#language-selector .ui-selecting {
    background: #93CBFF; // light blue
}

#container {
    width: 100%;
}

#code-div {
    height: 95%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    background-color: #EAFFFF; // very light blue
}

#code-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
}

#output-div {
    height: 95%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-left: 1px solid #D8D9DC; // darker grey
    background-color: #EEF4F4; //grey
}
